img {
	height: 50px;
	opacity: 0.5;
}

body {
	font-family: 'Roboto Mono', monospace;
	color: tomato;
	background-color: lightcyan;
	background-image: url('/Users/cromken/desktop/newcss/lesia-aaPfBZDJS2I-unsplash.jpg') ;
	background-size: cover;
}

h1 {

	font-size: 40px;
	

}

p {

font-size: 20px;
font-weight: bold;

}

main {
	text-align: right;
}

a {
	color: tomato;
}

nav {
	background-color: black;
	opacity: 0.75;
}